# 1. Linear Reagression
### 공부 시간에 따른 시험 점수

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('LinearRegressionData.csv')

In [3]:
dataset.head()

   hour  score
0   0.5     10
1   1.2      8
2   1.8     14
3   2.4     26
4   2.6     22

In [ ]:
x = dataset.iloc[:, :-1].values # 처음부터 마지막 컬럼 직전까지의 데이터 (독립변수)
y = dataset.iloc[:, -1].values # 마지칵 컬럼 데이터 (종속 변수 - 결과)